.holder {
  display: grid !important;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  width: 200px;
  height: 200px;
  gap: 0;
  background-color: lightgray;
  gap: 4px
}

.box {
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
